
body {
	margin: 0;
	color: #626262;
	background: #fff;
	font: 14px/24px Georgia, serif;
}

.logo {
	text-align: center;
	margin-top: 81px;
	margin-bottom: 61px;
}

.wrapper {
	width: 1063px;
	margin: 0 auto;
}

.main-img {
	margin-bottom: 51px;
}

h1 {
	margin: 29px 0 16px 0;
	font: bold 36px "Times New Roman", serif;
}

h2 {
	margin: 20px 0;
	font: bold 30px Georgia, serif;
}

h3 {
	margin: 20px 0;
	font: bold 24px Georgia, serif;
}

h4 {
	margin: 20px 0 10px 0;
	font: bold 18px Georgia, serif;
}

.category {
	font: 14px Arial, sans-serif;
	text-transform: uppercase;
	color: #b4ad9e;
	margin-bottom: 29px;
	display: block;
	text-decoration: none;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 36px;

}

.nav__list li {
	display: inline-block;
	padding: 0  20px;
}

.nav__list a {
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	font: 14px/24px Times New Roman, serif;
}

.nav__list a:hover {
	color: red;

}

.nav__list a:active {
	color: green;
}

.ipsum-dolor {
	color: red;
}

.ipsum-dolor:hover {
	color: blue;
}

.ipsum-dolor:active {
	color: #8B008B;
}

.dot-list, .numeric-list {
	padding: 0;
	margin-left: 15px;
}

blockquote {
	text-align: center;
	width: 900px;
    display: table;
    margin: 0 0 0 10px;
}

.big-paragraph {
	width: 910px;
}

footer {
	text-align: right;
}

.cite {
	text-decoration: none;
	color: #000;
}

