@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	color: #626262;
	background: #fff;
	font: 14px/24px Georgia, serif;
}

.logo {
	text-align: center;
	padding-top: 81px;
	padding-bottom: 61px;
}

.wrapper {
	width: 1063px;
	margin: 0 auto;
}

.main-img {
	margin-bottom: 51px;
}

h1 {
	margin: 29px 0 16px 0;
	font: bold 36px "Times New Roman", serif;
}

h2 {
	margin: 20px 0;
	font: bold 30px Georgia, serif;
}

h3 {
	margin: 20px 0;
	font: bold 24px Georgia, serif;
}

h4 {
	margin: 20px 0 10px 0;
	font: bold 18px Georgia, serif;
}

.category {
	font: 14px Arial, sans-serif;
	text-transform: uppercase;
	color: #b4ad9e;
	margin-bottom: 29px;
	display: inline-block;
	text-decoration: none;
}

a.category:hover {
	color: blue;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 36px;

}

.nav__list li {
	display: inline-block;
	padding: 0  20px;
}

.nav__list a {
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	font: 14px/24px Times New Roman, serif;
}

.nav__list a:hover {
	color: red;

}

.nav__list a:active {
	color: green;
}

.ipsum-dolor {
	color: red;
}

.ipsum-dolor:hover {
	color: blue;
}

.ipsum-dolor:active {
	color: #8B008B;
}

.dot-list, .numeric-list {
	padding: 0;
	margin-left: 15px;
}

blockquote {
	text-align: center;
	width: 900px;
    display: table;
    margin: 0 0 0 10px;
}

.footer {
	background: #f0f0f0;
	padding: 48px 61px;
	width: auto;
	position: relative;
	bottom: 0;
}

.container {
	margin: 0;
	float: right;
	display: flex;
}



.footer-text {
	margin: 0;
	display: inline-block;
	position: relative;
	top: 2px;

}

.cite {
	text-decoration: none;
	color: #000;
}

.cite:hover {
	color: green;
}

.content {
	width: 910px;
}

.fa-ul li {
	margin: 0 40px 0 0px;
}

.fa-li {
	margin: 0;
	font-size: 22px;

}

.fa-ul {
	position: relative;
	display: flex;
	margin: 0;
}

.fa:hover {
	color: red;
}


